.menu-area
  background-color: #EEEFF1
  padding-top: 25px
  padding-bottom: 25px
.menu
  background-color: #fff
  border-radius: 10px
.navbar-brand img
  padding: 9px 44px 9px 16px
.nav-item
  padding-right: 40px
