body
  min-height: 100vh;
  margin: 0;

  flex-direction: column;
  font-family: GalsLight
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;
header
  .menu-area
    background-color: #EEEFF1
    padding-top: 25px
    padding-bottom: 25px
  .menu
    background-color: #fff
    border-radius: 10px
  .navbar-brand img
    padding: 9px 44px 9px 16px
  .nav-item
    padding-right: 48px
  .search-input
    width: 150px
    height: 16px
    align-self: center
    font-size: 12px
  .form-control
    &::focus
      box-shadow: none!important
.banner-area
  text-align: center
  background: linear-gradient(180deg, #1A1A1A 20.83%, #2D2E30 53.12%, #272729 73.44%, #2C2E2E 100%);
  background-size: cover
  background-repeat: no-repeat
  background-position: left
  position: relative
  flex-grow: 1;
  &::before
    content: ""
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0 
    background-image: url(../img/BG.svg)
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    opacity: 0.5
    z-index: 1
    
  .bg-banner-area
    position: relative
    z-index: 10
  img
    margin-top: 71px
    margin-bottom: 71px
  .banner-area-text
    height: calc(33.33333vh - 52px);
    display: flex
    justify-content: center
    align-items: center
    a
      text-decoration: none
      color: #FFFF
      font-style: normal;
      font-weight: normal;
      font-size: 46px;
      line-height: 58px;
footer
  .navbar
    display: flex
    flex-direction: row
    flex-wrap: wrap
  .footer-menu
    background-color: #353536
    display: flex
    justify-content:
  .menu-container

    align-self: center
  .menu-content
    display: flex
    .menu-item 
    list-style-type: none
    a
      color: #FFFF!important
      padding: 0!important
      text-decoration: none
